<style>
   #sijiewidth{width: 100%!important;}
   .oj-textarea-input{height:100px;};
  
</style>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<div id="sampleDemo" style="" class="demo-padding oj-panel demo-centering-container">
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        
        <div id="form-containe ">
         <h3>添加客户</h3>
          <hr>
          
          <oj-form direction="row" class="demo-grid-sizes demo-flex-display">
             <div class="oj-flex ">
                <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-3">
                            <oj-label for="control1" show->创建人</oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-9">
                            <oj-input-text id="control1" class="createUser" value="植思杰" name="createUser" disabled="disabled"></oj-input-text>
                        </div>
                    </div>
                </div>
                 <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex ">
                        <div class="oj-flex-item oj-sm-3">
                            <oj-label for="control1" show->创建部门</oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-9">
                          <oj-input-text id="control1" class="createDeptName " value="管理部" disabled="disabled"></oj-input-text>
                        </div>
                        
                    </div>
                </div>
                 <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex">  
                          <div class="oj-flex-item oj-sm-3">
                            <oj-label for="control1" >创建时间</oj-label>
                          </div>
                          <div class="oj-flex-item oj-sm-9">
                            <oj-input-text id="control1" class="createDate" value="2018-08-08" disabled="disabled"></oj-input-text>
                          </div>
                      </div>
                </div>
             </div>
          
                
          
               <div class="oj-flex ">
                  <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex ">
                        <div class="oj-flex-item oj-sm-3">
                            <oj-label for="control1" show->客户编号</oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-9">
                            <oj-input-text id=""  value="自动生成" disabled="disabled"></oj-input-text>
                        </div>     
                    </div>
                </div>
                 <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex ">
                        <div class="oj-flex-item oj-sm-3">
                            <oj-label for="control1" show->公司名称</oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-9">
                          <oj-input-text id="control1" class="companyName"  placeholder="请输入公司名称" ></oj-input-text>
                        </div>     
                    </div>
                </div>
                 <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex">  
                          <div class="oj-flex-item oj-sm-3">
                            <oj-label for="control1" >公司邮箱</oj-label>
                          </div>
                          <div class="oj-flex-item oj-sm-9">
                            <oj-input-text id="control1" class="email" placeholder="请输入公司邮箱"></oj-input-text>
                          </div>
                      </div>
                </div>
             </div>
              
              
              
              <div class="oj-flex ">
                <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-3">
                            <oj-label for="control1" show->公司地址</oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-9">
                          <oj-input-text id="control1" class="companyAddres" placeholder="请输入公司地址"></oj-input-text>
                        </div>
                    </div>
                </div>
                 <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex ">
                        <div class="oj-flex-item oj-sm-3">
                            <oj-label for="control1" show->联系人</oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-9">
                          <oj-input-text id="control1" class="linkMan"  placeholder="请输入联系人"></oj-input-text>
                        </div>
                        
                    </div>
                </div>
                <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex ">
                        <div class="oj-flex-item oj-sm-3">
                            <oj-label for="control1" show->联系人电话</oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-9">
                          <oj-input-text id="control1" class="linkManPhone"  placeholder="请输入联系人电话"></oj-input-text>
                        </div>
                        
                    </div>
                </div>
             </div>
              
              
               <div class="oj-flex " >
                <div class="oj-sm-12 oj-md-12 oj-lg-12 oj-flex-item oj-md-labels-inline">
                    <div class="oj-flex ">
                        <div class="oj-flex-item oj-sm-3 oj-md-1">
                            <oj-label for="control1" show->备注</oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-9 oj-md-11" >
                                <oj-text-area id="control1" class="remarks"  placeholder="请输入备注"></oj-text-area>
                        </div>
                        
                    </div>
                </div>
                
             </div>
            <hr>
            <oj-label-value>
               <div class="oj-flex ">
                   <div class="oj-flex-item oj-sm-5"></div>
                   <div class="oj-flex-item oj-sm-7">
                    <oj-button  slot="value" onclick="cardadd()">保存</oj-button>
                    <oj-button  slot="value" onclick="cardback()">取消</oj-button>
                   </div>
              </div>
            </oj-label-value>
          </oj-form>
        </div>
        
      </div>
    </div>