<style>
    #sijiewidth{width: 100%!important;}
    .oj-textarea-input{height:100px;};

</style>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<div id="sampleDemo" style="" class="demo-padding oj-panel demo-centering-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">

        <div id="form-containe ">
            <h3>添加销售合同审批</h3>
            <hr>

            <oj-form direction="row" class="demo-grid-sizes demo-flex-display">
                <div class="oj-flex ">
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex">
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" show->创建人</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-input-text id="control1" class="createUser" value="植思杰" name="createUser" disabled="disabled"></oj-input-text>
                            </div>
                        </div>
                    </div>
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex ">
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" show->创建部门</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-input-text id="control1" class="createDeptName " value="管理部" disabled="disabled"></oj-input-text>
                            </div>

                        </div>
                    </div>
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex">  
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" >创建时间</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-input-text id="control1" class="createDate" value="2018-08-08" disabled="disabled"></oj-input-text>
                            </div>
                        </div>
                    </div>
                </div>



                <div  class="productName" style="display:none"  data-bind="value: selectVal1.slice(2,3)"></div>
                <div class="oj-flex " id="sscc">
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex ">
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" show->客户编号</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9" id="numz">
                                <oj-select-one id="select1" style="width:252px;"
                                               options="{{browsersDP2}}" 
                                               value="{{selectVal2}}"
                                               >
                                </oj-select-one>
                                <div class="employee_hidden" style="display:none" >
                                            <label for="selectedval"></label>
                                            <span id="selectedval2" data-bind="text: selectVal2"></span>
                                        </div>
                                </div>     
                            </div>
                        </div>
                        <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex ">
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" show->公司名称</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-input-text id="control1" class="companyName"  data-bind="value: selectVal2"  disabled="disabled"></oj-input-text>
                            </div>     
                        </div>
                    </div>
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex">  
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" >产品编号</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-select-one id="select2" style="width:252px;"
                                               options="{{browsersDP1}}" 
                                               value="{{selectVal1}}">
                                </oj-select-one>

                                <div class="employee_hidden" style="display:none">
                                    <label for="selectedval"></label>
                                    <span id="selectedval1" data-bind="text: selectVal1"></span>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="oj-flex ">
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex">
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" show->成本价</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-input-text id="control1" class="productCost" data-bind="value: selectVal1.slice(0,1)" disabled="disabled"></oj-input-text>
                            </div>
                        </div>
                    </div>
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex ">
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" show->建议售价</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-input-text id="control1" class="salePrice" data-bind="value: selectVal1.slice(1,2)" disabled="disabled"></oj-input-text>
                            </div>

                        </div>
                    </div>
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex ">
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" show->销售价</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-input-text id="control1" class="salePrices"  placeholder=""></oj-input-text>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="oj-flex " >
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex ">
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" show->销售量</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-input-text id="control1" class="amount"  placeholder=""></oj-input-text>
                            </div>

                        </div>
                    </div>
                                        <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex ">
                            <div class="oj-flex-item oj-sm-3">
                                <oj-label for="control1" show->总金额</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9">
                                <oj-input-text id="control1" class="totalSales"  placeholder="" disabled="disabled"></oj-input-text>
                            </div>

                        </div>
                    </div>
                    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item oj-md-labels-inline">
                        <div class="oj-flex ">
                            <div class="oj-flex-item oj-sm-3 oj-md-3">
                                <oj-label for="control1" show->备注</oj-label>
                            </div>
                            <div class="oj-flex-item oj-sm-9 oj-md-9" >
                                <oj-text-area id="control1" class="remarks"  placeholder="请输入备注"></oj-text-area>
                            </div>

  </div>
                    </div>


                </div>
                <hr>
                <oj-label-value>
                    <div class="oj-flex ">
                        <div class="oj-flex-item oj-sm-5"></div>
                        <div class="oj-flex-item oj-sm-7">
                            <oj-button  slot="value" onclick="approvaladd()" >保存</oj-button>
                            <oj-button  slot="value" onclick="approvalback()">取消</oj-button>
                        </div>
                    </div>
                </oj-label-value>
            </oj-form>
        </div>

    </div>
</div>